@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;
@using HairSalon.Models;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)<h3>


@foreach (Client client in Model.Clients)
{
  <li>@client.Name</li>
}

<p>@Html.ActionLink("Create client for this stylist", "Create", "Clients")</p>
<p>@Html.ActionLink("Back to list", "Index")</p>